.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 80vw;
  padding-left: 15px;
}

.logoutBtn {
  width: 80px;
  height: 30px;
  margin: 0px 10px;
  background-color: rgb(221, 39, 39);
  border: none;

  cursor: pointer;
  border-radius: 12px;
}

.createBtn {
  background-color: rgb(97, 97, 196);
  cursor: pointer;
  border-radius: 12px;
  border: none;
}

.main {
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileCon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20%;
  margin-top: 10px;
}

.postContainer {
  border: 2px solid black;
  width: 100%;
  padding: 10px;
}
.searchCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid grey;
  width: 25vw;
  height: 30px;
  cursor: pointer;
}

.i {
  width: 75%;
  height: 30px;
  border: none;
  outline: none;
}

ul {
  width: 100%;
  flex-direction: column;
}

@media screen and (max-width: 400) {
  .logoutBtn {
    width: 80px;
    height: 20px;
    margin: 0px 10px;
  }
  .postContainer {
    border: 2px solid black;
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
